 @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
:root{
  --primary: #1aac83;
  --error:#e7195a;
}

body{
background-color: #f1f1f1;
font-family: 'Maven Pro', sans-serif;
font-weight: 700;
}

nav{
  background-color: #fff;
  position: relative;
}

.nav-bar{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding:20px 20px;
  z-index:1;
}

.nav-bar a,h2:hover{
  color: var(--primary);
}

.nav-bar a{
  color: #333;
  text-decoration: none;
  margin-left: 20px;
}

.home, .contact, .about, .footer{
  max-width: 1400px;
  padding: 20px;
  margin: 0px auto;
}

.home{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details{
  position: relative;
  background:#fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h3{
  margin: 0 0 10px;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p{
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 6px;
  border-radius:50%;
  color: #333;
}

.form {
  padding: 20px;
}

.form input{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 10px;
  width: 100%;
  padding: 10px 5px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  border-radius: 4px;
}

input:hover{
  outline: 1px solid var(--primary);
}

label{
  font-size: larger;
}

button{
  border: none;
  background-color: var(--primary);
  padding: 5px;
  border-radius: 4px;
  font-family: 'Maven Pro', sans-serif;
  cursor: pointer;
}